<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.temp_sensor">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 디바이스 재부팅시 바로 앱 실행 -->
    <uses-permission android:name="android.permission.REORDER_TASKS" /> <!-- 홈버튼 제어 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 디바이스 화면 꺼지지 않음 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Temp_Censor"
        android:usesCleartextTraffic="true">
        <service
            android:name=".NetworkService"
            android:enabled="true"
            android:exported="false"></service>

        <activity android:name=".StartSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CloudMainActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"></activity>
        <activity android:name=".CloudSettingActivity" />
        <activity android:name=".CloudVerifyActivity" />
        <activity android:name=".SocketVerifyActivity" />
        <activity
            android:name=".SocketMainActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"></activity>

        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>